{
  "extends": ["airbnb-base","prettier","plugin:react/recommended","plugin:cypress/recommended"],
  "env": {
    "es6":true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "simple-import-sort",
    "prettier",
    "jest-dom"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react$", "^next", "^[a-z]"],
          ["^@"],
          ["^~"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^.+\\.s?css$"],
          ["^\\u0000"]
        ]
      }
    ],
    "no-param-reassign": [2, { "props": false }],
    "no-unused-vars": "warn",
    "no-console": "warn",
    "prefer-const": "error",
    "linebreak-style": 0,
    "global-require": 0,
    "eslint linebreak-style": [
      0,
      "error",
      "windows"
    ],
    "import/extensions": [0, {  "<js>": "always"  }],
    "prettier/prettier": ["error",{
      "endOfLine": "auto"}
    ],
    "import/no-extraneous-dependencies": "off"
  }
}